<div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let carta of cartas" cdkDrag>
          <a href="" target="_blank" rel="noopener noreferrer"><img src="{{carta.image}}" alt=""></a>
          </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let carta of cartas" cdkDrag> 
          <a href="" target="_blank" rel="noopener noreferrer"><img src="{{carta.image}}" alt=""></a></div>
      </div>
    </div>
  </div>
  

    <app-table></app-table>